@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

.sidebar {
  max-width: 20%;
  min-width: 20%;
  margin-top: 4em;
  padding: 0em 2em;
}

.description {
  width: 200px;
}

.description{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price-cont {
  width: 100%;
  margin-top: 10px;
}
.price {
  font-weight: bold;
}
.float-right {
  float: right;
}
.plus {
  font-size: 21px;
  color: green;
  margin-top: -4px;
  margin-right: 3px;
}
.minus {
  font-size: 21px;
  color: red;
  margin-top: -4px;
  margin-left: 3px;
}
.bold {
  font-weight: bold;
}
.count-span {
  margin-top: 55px;
}
.flame {
  height: 57px;
  width: 55px;
  transform: scalex(-1);
}
.header {
  display: flex;
}
.tracking-wider {
  margin-top: 10px;
  margin-left: 5px;
}
.price-label{
  background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 14px;

}
.mr-5{
margin-right: 5px;
}
